<?xml version="1.0" encoding="utf-8" ?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://localhost:8090/AutoUpdater/AutoupdateService.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="Common.dll"  lastver="1.0.0.0" size="24576"  version="76d9e265-f9c7-45f7-a8d2-7569b3c774e5" />
    <LocalFile path="DAL.dll"  lastver="1.0.0.0" size="93184" version="535e8a17-9430-49cf-97f1-a5d120393013" />
    <LocalFile path="Model.dll"  lastver="1.0.0.0" size="33792"  version="c87bb65d-cb9a-48bb-8719-dc37731e8b64" />
    <LocalFile path="SunnyUI.Common.dll"  lastver="3.4.0.0" size="177664" version="9cd80d2d-2445-4411-94ce-83b06950a05a" />
    <LocalFile path="SunnyUI.dll"  lastver="3.4.2.0" size="2843136"  version="e4d079e2-a98c-48fa-a380-aed4986dd78e" />
    <LocalFile path="VDM.exe"  lastver="1.0.0.0" size="631808"  version="a7ec25b2-c0c5-4efc-9cb4-ef822f92ed14" />
  </UpdateFileList>
</Config>